<!-- Modal -->
<div
  class="modal fade"
  id="imageModalPortfolio"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <!-- Tombol Close -->
      <div class="modal-header">
        <h5 class="modal-title">Preview Portfolio</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body p-0">
        <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
              <img
                src="{{ url_for('static', filename='img/portfolio/home.png') }}"
                class="d-block w-100"
                alt="Home"
              />
              <div class="text-center py-3">
                <h5>Home</h5>
                <p class="text-muted">Main page portfolio</p>
              </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='img/portfolio/about.png') }}"
                class="d-block w-100"
                alt="About"
              />
              <div class="text-center py-3">
                <h5>About Me</h5>
                <p class="text-muted">Talking about myself</p>
              </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='img/portfolio/myskill.png') }}"
                class="d-block w-100"
                alt="My Skill"
              />
              <div class="text-center py-3">
                <h5>My Skill</h5>
                <p class="text-muted">Demonstrate technical skills</p>
              </div>
            </div>

            <!-- Slide 4 -->
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='img/portfolio/project.png') }}"
                class="d-block w-100"
                alt="Projects"
              />
              <div class="text-center py-3">
                <h5>Projects</h5>
                <p class="text-muted">
                  Contains a list of projects I have created
                </p>
              </div>
            </div>

            <!-- Slide 5 -->
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='img/portfolio/contact.png') }}"
                class="d-block w-100"
                alt="Contact"
              />
              <div class="text-center py-3">
                <h5>Contact</h5>
                <p class="text-muted">Form or information contact</p>
              </div>
            </div>
          </div>

          <!-- Tombol Navigasi -->
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#imageCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>

          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#imageCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
