<!-- Modal -->
<div
  class="modal fade"
  id="imageModalRestaurant"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <!-- Tombol Close -->
      <div class="modal-header">
        <h5 class="modal-title">Preview Cafe Bisa Ngopi</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body p-0">
        <div
          id="imageCarouselRestaurant"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
              <img
                src="{{ url_for('static', filename='img/restaurant/dashboard-admin.png') }}"
                class="d-block w-100"
                alt="Dashboard Admin"
              />
              <div class="text-center py-3">
                <h5>Dashboard - Admin</h5>
                <p class="text-muted">
                  This main admin page displays the total number of registered
                  user accounts.
                </p>
              </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='img/restaurant/list-admin.png') }}"
                class="d-block w-100"
                alt="List Account Admin"
              />
              <div class="text-center py-3">
                <h5>List Account - Admin</h5>
                <p class="text-muted">
                  This interface is designed for managing user accounts,
                  specifically enabling the creation, modification, and removal
                  of cashier and manager roles.
                </p>
              </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='img/restaurant/activity-admin.png') }}"
                class="d-block w-100"
                alt="Activity Admin"
              />
              <div class="text-center py-3">
                <h5>Activity Log - Admin</h5>
                <p class="text-muted">
                  This page is designed to display the activity history of
                  cashier and manager accounts.
                </p>
              </div>
            </div>

            <!-- Slide 4 -->
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='img/restaurant/menu-manager.png') }}"
                class="d-block w-100"
                alt="List Menu Manager"
              />
              <div class="text-center py-3">
                <h5>List Menu - Manager</h5>
                <p class="text-muted">
                  This interface allows you to add, modify, and remove menu
                  entries efficiently.
                </p>
              </div>
            </div>

            <!-- Slide 5 -->
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='img/restaurant/meja-manager.png') }}"
                class="d-block w-100"
                alt="list table manager"
              />
              <div class="text-center py-3">
                <h5>List Table - Manager</h5>
                <p class="text-muted">
                  This page allows you to manage restaurant tables, including
                  creating, updating, and deleting entries.
                </p>
              </div>
            </div>

            <!-- Slide 6 -->
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='img/restaurant/catatan-manager.png') }}"
                class="d-block w-100"
                alt="Activity Manager"
              />
              <div class="text-center py-3">
                <h5>Activity Log - Manager</h5>
                <p class="text-muted">
                  This page is designed to monitor activities performed by
                  cashiers.
                </p>
              </div>
            </div>

            <!-- Slide 7 -->
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='img/restaurant/laporan-manager.png') }}"
                class="d-block w-100"
                alt="Report Manager"
              />
              <div class="text-center py-3">
                <h5>Report - Manager</h5>
                <p class="text-muted">
                  This page is designed to generate and print reports created by
                  cashiers.
                </p>
              </div>
            </div>

            <!-- Slide 8 -->
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='img/restaurant/transaksi-kasir.png') }}"
                class="d-block w-100"
                alt="transaction"
              />
              <div class="text-center py-3">
                <h5>Transaction - Casier</h5>
                <p class="text-muted">
                  This page is used to perform transactions.
                </p>
              </div>
            </div>

            <!-- Slide 9 -->
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='img/restaurant/trans-action-kasir.png') }}"
                class="d-block w-100"
                alt="Choosing a menu"
              />
              <div class="text-center py-3">
                <h5>Choosing a Menu - Casier</h5>
                <p class="text-muted">
                  Used to choose the menu items based on customer selections.
                </p>
              </div>
            </div>

            <!-- Slide 10 -->
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='img/restaurant/pembayaran-kasir.png') }}"
                class="d-block w-100"
                alt="Payment"
              />
              <div class="text-center py-3">
                <h5>Payment - Casier</h5>
                <p class="text-muted">
                  Used to complete customer transactions.
                </p>
              </div>
            </div>

            <!-- Slide 11 -->
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='img/restaurant/detailtrans-kasir.png') }}"
                class="d-block w-100"
                alt="Detail Transaction"
              />
              <div class="text-center py-3">
                <h5>Detail Transaction - Casier</h5>
                <p class="text-muted">
                  This page displays transaction details and allows printing of
                  the receipt.
                </p>
              </div>
            </div>

            <!-- Slide 12 -->
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='img/restaurant/riwayat-kasir.png') }}"
                class="d-block w-100"
                alt="Transaction History"
              />
              <div class="text-center py-3">
                <h5>Transaction History</h5>
                <p class="text-muted">
                  This page displays a record of all completed transactions for
                  reference and tracking purposes.
                </p>
              </div>
            </div>
          </div>

          <!-- Tombol Navigasi -->
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#imageCarouselRestaurant"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>

          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#imageCarouselRestaurant"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
